code > pre {
    font-size: 12px;
    line-height: 1;
}

/* Posting */
.article {
    background-color: beige;
    border: 1px solid darksalmon;
    margin: 1rem;
    padding: 1rem;
}

.article__field {
    background-color: deepskyblue;
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
}

.article__field--raw {
    background-color: indianred;
}

.article__field-label {
    margin: 0.25rem;
    padding: 0.25rem;
}

.article__field-value {
    background-color: white;
    margin: 0.25rem;
    overflow-x: scroll;
    padding: 0.25rem;
}